<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>all Categories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style type="text/css">
        .navbar-brand img {
            width: 50px;
            height: 50px;
        }
        .navbar-nav li{
            padding-right: 20px;
        }
        .nav-link{
            font-size: 1.2em !important;
        }

        li{
            list-style-type: none;
        }
        .mb-2{
            width: 75px !important;
        }
    </style>

</head>
<body>
<header th:insert="header :: header"></header>


<div class="jumbotron container">
    <h1>Транзакції</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="rom">ID</th>
            <th class="rom">Категорія</th>
            <th class="rom">Тип Операції</th>
            <th class="rom">Сума</th>
            <th class="rom">Дата</th>
            <th class="rom">Опис</th>
            <th class="rom">Управління</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="trans : ${transactions}">
            <td><span th:text="${trans.getId()}"> </span></td>
            <td><span th:text="${trans.getCategory()}"> </span></td>
            <td><span th:text="${trans.getTypeTransaction()}"> </span></td>
            <td><span th:text="${trans.getPrice()}"> </span></td>
            <td><span th:text="${trans.getDate()}"> </span></td>
            <td><span th:text="${trans.getDescription()}"> </span></td>
            <td><span > <a class="btn btn-danger mb-2" th:href="@{'/admin/allTransaction/' + ${trans.id}+'/delete/'}">Delete</a>
                            <br>
                        <a class="btn btn-warning mb-2" th:href="@{'/admin/allTransaction/' + ${trans.id}+'/edit/'}">Edit</a></span></td>
        </tr>
        </tbody>

    </table>
    <div>
        <a href="/admin/addTransaction" class="btn btn-primary btn-lg" align="right">Додати Транзакцію</a>
        <a href="/admin/allTransaction/exelDownload" class="btn btn-primary btn-lg" align="right">Завантажити в Exel</a>

        <form action="/admin/allTransaction/exelUpload" method="post" enctype="multipart/form-data">
            <label for="file">виберіть файл</label>
            <input type="file" name="file" id="file">
            <button type="submit" class="btn btn-primary btn-lg" align="right">Надіслати в Exel</button>
        </form>
    </div>
</div>
</div>
</body>
</html>