<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Transaction </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        .navbar-brand img {
            width: 50px;
            height: 50px;
        }
        .navbar-nav li{
            padding-right: 20px;
        }
        .nav-link{
            font-size: 1.2em !important;
        }

        li{
            list-style-type: none;
        }
    </style>
</head>
<body>
<header th:insert="header :: header"></header>


<div class="jumbotron container">
    <h1>Редагувати транзакцію</h1>
    <div th:each="tran: ${transaction}">
        <form method="post">
            <ul class="">
                <li>
                    <label for="category">Назва Категорії</label>
                    <select id="category" name="category" class="form-control">
                        <option th:each="category : ${categories}"
                                th:value="${category.getName()}"
                                th:utext="${category.getName()}"
                        ></option>
                    </select>
                </li>
                <li>
                    <label for="type">тип операції</label>
                    <input type="text" name="type" id="type" class="form-control" th:value="${tran.getTypeTransaction()}">
                </li>
                <li>
                    <label for="price">сума</label>
                    <input type="number" name="price" id="price" class="form-control" th:value="${tran.getPrice()}">
                <li>
                    <label for="description">короткий опис </label>
                    <input type="text" name="description" id="description" class="form-control" th:value="${tran.getDescription()}">
                </li>
                <li>
                    <label for="date">Дата YYYY-MM-DD</label>
                    <input type="date" name="date" id="date" class="form-control" th:value="${tran.getDateString()}">
                </li>
                <li>
                    <button type="submit"  class="btn btn-primary mb-2" value="update">Update</button>
                </li>
                </li>
            </ul>
            <br>

        </form>

    </div>

</div>

</div>
</body>
</html>