<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"> <img src="https://cdn.onlinewebfonts.com/svg/img_542879.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/allCategory">Категорії</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/allTransaction">Транзакції</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


