<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        .navbar-brand img {
            width: 50px;
            height: 50px;
        }
        .navbar-nav li{
            padding-right: 20px;
        }
        .nav-link{
            font-size: 1.2em !important;
        }
        .btn{
            width: 60px !important;
        }
        li{
            list-style-type: none;
        }
    </style>
</head>
<body>
<header th:insert="header :: header"></header>


<div class="jumbotron container">
    <h1>Контент сайту </h1>
</div>

</div>
</body>
</html>