<div th:fragment="header">
    <nav class="navbar navbar-inverse testnav" style="margin-top:16px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin">admin</a>
                <a class="navbar-brand" href="/admin/addCategory">addCategory</a>
                <a class="navbar-brand" href="/admin/addTransaction">addTransaction</a>
                <a class="navbar-brand" href="/admin/allCategory">view Categories</a>
                <a class="navbar-brand" href="/admin/allTransaction">view Transactions</a>

            </div>
        </div>
    </nav>
</div>